*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(98, 95, 95);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.curriculo{
    display: inline-block;
    position: relative;
    left: 37%;
}

.fotinha{  
    float: right;
}
.coisa{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}
.descricao{
    font-size: large;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.lista{
    display: inline-block;
    padding-left: 30px;
    margin: 10px;
    margin-right: 50px;
}

.tabela{

    display: inline-block;
    border-collapse: collapse;
    margin: 10px;
}

.tabelaDir{
    padding-right: 10px;
}



/*contato pela midias*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.icons{
    display: flex;
    column-gap: 25px;
}

.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    outline: 2px solid rgb(255, 255, 255);
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
    color: rgb(255, 255, 255);
}
.icon:hover i{
    animation: shake .25s;
}
.icon--instagram:hover{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76
    ;
}
.icon--twitter:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
}
.icon--github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

