*{
    margin: 0;
    padding: 0;
}

.curriculo{
    display: inline-block;
    position: relative;
    left: 37%;
}

.fotinha{  
    float: right;
}

.descricao{
    font-size: large;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.lista{
    padding-left: 30px;
    margin: 10px;
}

.tabela{
    border-collapse: collapse;
    margin: 10px;
    background-color: rgba(31, 31, 31, 0.5);
}

.tabelaDir{
    padding-right: 10px;
}

thead{
    background-color: rgb(40, 90, 50);
}

/*contato pela midias*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    display: grid;
    place-items: center;
    height: 100vh;
}

.icons{
    display: flex;
    column-gap: 25px;
}

.icon{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    outline: 2px solid rgb(255, 255, 255);
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}
.icon:hover{
    outline-offset: 4px;
    color: rgb(255, 255, 255);
}
.icon:hover i{
    animation: shake .25s;
}
.icon--instagram:hover{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76
    ;
}
.icon--twitter:hover{
    background-image:radial-gradient(circle at 107%,
    #1da1f2 0%, #1da1f2 5%, #1da1f2 45%, #1da1f2 60%, #1da1f2 90%);;
    outline-color: #1da1f2;
}
.icon--linkedin:hover{
    background-image: radial-gradient(circle at 107%,
    #0077b5 0%, #0077b5 5%, #0077b5 45%, #0077b5 60%, #0077b5 90%);
    outline-color: #0077b5;
}
.icon--github:hover{
    background-image:radial-gradient(circle at 30% 107%, 
    #2ea44f 0%, #2ea44f 5%, #2ea44f 45%, #2ea44f 60%, #2ea44f 90%);
    outline-color: #2ea44f;
}
@keyframes shake {
    10%{transform: rotate(15deg);}
    20%{transform: rotate(-15deg);}
    30%{transform: rotate(15deg);}
    40%{transform: rotate(-15deg);}
}

